*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
}

#root{
    width: 100%;
    display: flex;
    justify-content: center;
}

#container{
    width: 600px;
    height: 600px;
    background-color: blue;
}

#snake{
    position: relative;
    top: 290px;
    left: 290px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: yellow;
    transition: 100ms ease all;
}

#btn_pause{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    outline: none;
}